<div class="dark-background">
  <div class="video-container">

    <div class="search-bar">
      <div class="search-input-container">
        <input
          type="text"
          placeholder="Buscar video..."
          [(ngModel)]="searchQuery"
          (input)="filterVideos()"
          class="search-input"
        />
        <div class="search-icon"></div>
      </div>
    </div>
    <app-hamburger-menu></app-hamburger-menu>

    <div *ngIf="filteredVideos.length === 0 && searchQuery" class="no-results">
      No se encontraron videos con "{{ searchQuery }}".
    </div>

    <div class="videos-grid" [class.fade-out]="fadeOut">
      <div *ngFor="let video of filteredVideos" class="video-item">
        <div class="thumbnail-wrapper" [class.hidden]="video.isPlaying" (click)="playVideo(video)">
          <img [src]="getThumbnail(video.url)" alt="Miniatura" class="video-thumbnail">
        </div>

        <div class="video-wrapper" [class.hidden]="!video.isPlaying">
          <iframe 
            [src]="getSafeYouTubeUrl(video.url)" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            class="video-iframe"
          ></iframe>
          <button class="close-btn" (click)="closeVideo(video)">❌</button>
        </div>

        <div class="video-info">
          <h3>{{ video.name }}</h3>
          <p>{{ video.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
 