<video autoplay muted loop id="background-video">
  <source src="assets/video/background2.mp4" type="video/mp4">
  Your browser does not support videos.
</video>
<div id="background-overlay"></div>

<div class="profiles-container">
  <button class="settings-button" (click)="goToSettings()">⚙️</button>
  <h1>Who's watching now?</h1>

  <div class="carousel-container">
    <button class="carousel-nav prev" (click)="prevPage()" [disabled]="currentPage === 0">←</button>

    <div class="profiles-carousel">
      <div *ngFor="let profile of visibleProfiles" class="profile" (click)="selectProfile(profile)">
        <img [src]="profile.avatar" alt="{{ profile.fullName }}">
        <p>{{ profile.fullName }}</p>
      </div>
    </div>

    <button class="carousel-nav next" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">→</button>
  </div>

  <button class="manage-profiles-button" (click)="ManageProfiles()">
    Manage Profiles
  </button>
</div>

<div *ngIf="showPinDialog" class="pin-dialog">
  <div class="pin-dialog-content">
    <h2>Enter your PIN</h2>
    <p class="pin-instruction">Please insert your PIN to continue.</p>
    <input type="password" [(ngModel)]="enteredPin" placeholder="PIN" />
    <div class="pin-dialog-actions">
      <button (click)="closePinDialog()">Cancel</button>
      <button class="accept-button" (click)="validateProfilePin()">Accept</button>
    </div>
    <p *ngIf="pinError" class="error-message">Incorrect PIN. Please try again.</p>
  </div>
</div>

<div *ngIf="userPinError" class="text-danger mt-3">
  The entered PIN is incorrect. Please try again.
</div>

<div *ngIf="showUserPinDialog" class="pin-dialog">
  <div class="pin-dialog-content">
    <h2>Enter your user PIN</h2>
    <p class="pin-instruction">Please insert your user PIN to continue.</p>
    <input type="password" [(ngModel)]="enteredUserPin" placeholder="PIN" />
    <div class="pin-dialog-actions">
      <button (click)="closeUserPinDialog()">Cancel</button>
      <button class="accept-button" (click)="validateUserPin()">Accept</button>
    </div>
    <p *ngIf="pinError" class="error-message">Incorrect PIN. Please try again.</p>
  </div>
</div>