html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcfbfa; 
    color: rgb(17, 17, 17); 
}

.profiles-container {
    background-color: #fcfafa;
    color: #0c0c0c; 
    
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

.profiles {
    background-color: #fcfafa;
    
    display: flex;
    justify-content: center; 
    gap: 40px;
    margin-top: 20px;
    flex-wrap: nowrap; 
    overflow-x: auto;
}

.profile {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    flex: 0 1 150px; 
    padding: 20px;
    border-radius: 50%;
    background-color: #f7f3f3; 
    box-sizing: border-box;
}

.profile img {
    width: 200px;  /* Hace la imagen mucho más grande */
    height: 200px; /* Hace la imagen mucho más grande */
    border-radius: 50%; /* Redondea la imagen */
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Efecto de ampliación al pasar el cursor */
.profile img:hover {
    transform: scale(1.1); 
}

/* Estilo para el nombre del perfil */
.profile p {
    margin-top: 10px;
    font-size: 2rem;  
    color: #6b6b69; /* Color del nombre */
    font-weight: bold;
}

.manage-profiles-button {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin-top: 20px; /* Margen superior */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .manage-profiles-button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
  }


  .profile {
    position: relative; /* Para posicionar el ícono de edición */
    cursor: pointer;
  }
  
  .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .edit-icon:hover {
    background-color: rgba(255, 255, 255, 1); /* Fondo más sólido al pasar el mouse */
  }

  .pin-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pin-dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .pin-dialog-content input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
  }
  
  .pin-dialog-content button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }