<div class="profiles-container">
  <h1>Who's watching now?</h1>
  <div class="profiles">
    <div *ngFor="let profile of profiles" class="profile" (click)="selectProfile(profile)">
      <img [src]="profile.avatar" alt="{{ profile.fullName }}">
      <p>{{ profile.fullName }}</p>
    </div>
  </div>

  <!-- Botón "Administrar perfiles" -->
  <button class="manage-profiles-button" (click)="openPinDialog()">
    Administrar perfiles
  </button>
</div>

<!-- Diálogo para solicitar el PIN -->
<div *ngIf="showPinDialog" class="pin-dialog">
  <div class="pin-dialog-content">
    <h2>Ingresa tu PIN</h2>
    <input type="password" [(ngModel)]="enteredPin" placeholder="PIN" />
    <button (click)="verifyPin()">Aceptar</button>
    <button (click)="closePinDialog()">Cancelar</button>
    <p *ngIf="pinError" class="error-message">PIN incorrecto. Inténtalo de nuevo.</p>
  </div>
</div>