<div class="dark-background">
  <div class="menu-icon" (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#f3952a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </div>

  <div class="hamburger-menu" [class.closed]="isMenuOpen">
    <div class="menu-spacer"></div>
    <div class="menu-items">
      <a class="menu-link" (click)="navigateToVideoList($event)">
        <i class="fas fa-home"></i> Videos
      </a>
      <a class="menu-link" (click)="navigateToListPlaylist($event)">
        <i class="fas fa-list"></i> Playlists
      </a>
    </div>
    <div class="menu-footer">
      <div class="menu-buttons">
        <button class="back-button" (click)="goBackToProfiles()" aria-label="Go back to profiles">
          <i class="fas fa-arrow-left"></i> Back
        </button>
        <button class="logout-button" (click)="logout($event)">
          <i class="fas fa-sign-out-alt"></i> Log out
        </button>
      </div>
    </div>
  </div>

  <div class="container p-4 border rounded bg-light shadow-sm">
    <h2 class="mb-4">Video List</h2>
    <button class="btn btn-success mb-3" (click)="createNewVideo()">Create New Video</button>
    <div class="video-grid">
      <div *ngFor="let video of videos; let i = index" class="video-card">
        <img
          [src]="getVideoThumbnail(video.url)"
          alt="Video Thumbnail"
          class="thumbnail"
          onerror="this.src='/assets/videos/default-thumbnail.jpg'"
        />
        <div class="video-details">
          <h3>{{ video.name }}</h3>
          <p *ngIf="!expandedDescriptions[i]">
            {{ truncateDescription(video.description) }}
            <span
              *ngIf="video.description && video.description.length > 50"
              class="show-more"
              (click)="toggleDescription(i)"
            >
              Show more
            </span>
          </p>
          <p *ngIf="expandedDescriptions[i]">
            {{ video.description }}
            <span class="show-less" (click)="toggleDescription(i)">Show less</span>
          </p>
          <div class="action-buttons">
            <button class="edit-button" (click)="editVideo(video.id)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="delete-button" (click)="deleteVideo(video.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="videos.length === 0" class="text-center">
      <p>No videos found.</p>
    </div>
  </div>
</div>