#background-video {
  background: 
  linear-gradient(135deg, #f9f0d2, #f8d6a3),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" opacity="0.1"><path d="M30,30 Q50,10 70,30 T90,50 T70,70 T50,90 T30,70 T10,50 T30,30 Z" fill="%23f3952a"/></svg>');
background-size: 100% 100%, 60px 60px;  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(135deg, #f9f0d2, #f8d6a3),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" opacity="0.1"><path d="M30,30 Q50,10 70,30 T90,50 T70,70 T50,90 T30,70 T10,50 T30,30 Z" fill="%23f3952a"/></svg>');
background-size: 100% 100%, 60px 60px;  z-index: 1; /* Por encima del video */
}

.profiles-container {
  position: relative;
  color: #fdf8f8;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 2; 
  
}
.h1{
  color: #fdf8f8;


}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #aaa; /* Color gris claro */
  transition: color 0.3s ease;
}

.close-icon:hover {
  color: #FF8C42; /* Cambiar a naranja al pasar el mouse */
}

/* Posición absoluta para los cuadros de diálogo */
.pin-dialog-content,
.edit-profile {
  position: relative;
}
/* Estilo para el cuadro de diálogo de agregar perfil */
.add-profile-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.add-profile-dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.add-profile-dialog-content input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-profile-dialog-content button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-profile-dialog-content button:hover {
  transform: scale(1.05);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #FF8C42;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; 
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #f87a2c; 
}

.profiles-container {
  position: relative; 
  color: #0c0c0c;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 3;
}
.profiles {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 1 150px;
  padding: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}



.avatar-preview {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.selected-option {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.selected-option img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-options {
  position: absolute;
  top: 100%; /* Colocar debajo del selected-option */
  left: 0;
  width: 100%;
  max-height: 200px; /* Altura máxima */
  overflow-y: auto; /* Scroll vertical */
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mejor estética */
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-option img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.profile img:hover {
  transform: scale(1.1);
}

.profile p {
  margin-top: 10px;
  font-size: 2rem;
  color: #6b6b69;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile:hover p {
  color: #FF8C42;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-icon:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.add-profile {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 150px;
  padding: 20px;
  border-radius: 50%;
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.add-profile:hover {
  transform: scale(1.05);
  background-color: #d0d0d0;
}

.add-circle {
  font-size: 3rem;
  color: #6b6b69;
  transition: color 0.3s ease;
}

.add-profile:hover .add-circle {
  color: #FF8C42;
}

.pin-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.pin-dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pin-dialog-content input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.pin-dialog-content input:focus {
  border-color: #FF8C42;
  box-shadow: 0 0 5px rgba(255, 140, 66, 0.5);
}

.pin-dialog-content button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pin-dialog-content button:hover {
  transform: scale(1.05);
}

.error-message {
  color: red;
  margin-top: 10px;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.edit-profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.edit-profile input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-profile button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-profile button:hover {
  transform: scale(1.05);
}