<div class="dark-background">

  <!-- Menú de Hamburguesa -->
  <div class="hamburger-menu">
    <!-- Ícono del menú -->
    <div class="menu-icon">
      ☰ <!-- Ícono de hamburguesa -->
    </div>
  
    <!-- Contenido del menú -->
    <div class="menu-items">
      <a class="menu-link" (click)="navigateToVideoList($event)">
        <i class="fas fa-home"></i> Videos
      </a>
      <a class="menu-link" (click)="navigateToListPlaylist($event)">
        <i class="fas fa-list"></i> Playlists
      </a>
    </div>
  
    <!-- Opción de cerrar sesión -->
    <div class="menu-footer">
      <a class="menu-link" (click)="logout($event)">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
      </a>
    </div>
  </div>
  <div class="container p-4 border rounded bg-light shadow-sm">
    <h2>Video Details</h2>
    <div *ngIf="video">
      <p><strong>Name:</strong> {{ video.name }}</p>
      <p><strong>URL:</strong> <a [href]="video.url" target="_blank">{{ video.url }}</a></p>
      <p><strong>Description:</strong> {{ video.description || 'No description' }}</p>
      <button class="btn btn-secondary mt-3" (click)="goBack()">Back to List</button>
    </div>
  </div>
</div>