<div class="dark-background">
  <div class="login-container" [@slideIn]>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="w-40 mx-auto">
      
      <!-- Personal Information -->
      <fieldset class="border p-3 mb-3">
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="firstName" required>
            <!-- Error message for Name -->
            <div *ngIf="signUpForm.get('firstName')?.hasError('required') && signUpForm.get('firstName')?.touched" class="text-danger">
              Name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" required>
            <!-- Error message for Last Name -->
            <div *ngIf="signUpForm.get('lastName')?.hasError('required') && signUpForm.get('lastName')?.touched" class="text-danger">
              Last Name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Birthdate</label>
          <input type="date" class="form-control" formControlName="dateOfBirth">
          <!-- Error message for Birthdate -->
          <div *ngIf="signUpForm.get('dateOfBirth')?.hasError('required') && signUpForm.get('dateOfBirth')?.touched" class="text-danger">
            Birthdate is required.
          </div>
          <div *ngIf="signUpForm.get('dateOfBirth')?.hasError('underage') && signUpForm.get('dateOfBirth')?.touched" class="text-danger">
            You must be at least 18 years old.
          </div>
        </div>
      </fieldset>

      <!-- Contact Information -->
      <fieldset class="border p-3 mb-3">
        <legend>Contact Information</legend>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" required>
            <!-- Error message for Email -->
            <div *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched" class="text-danger">
              Email is required.
            </div>
            <div *ngIf="signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched" class="text-danger">
              Please enter a valid email address.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Phone Number</label>
            <input type="tel" class="form-control" formControlName="phoneNumber">
            <!-- Error message for Phone Number -->
            <div *ngIf="signUpForm.get('phoneNumber')?.hasError('invalidPhoneNumber') && signUpForm.get('phoneNumber')?.touched" class="text-danger">
              Please enter a valid phone number.
            </div>
          </div>
        </div>

        <!-- Country Selection -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Country</label>
            <select class="form-control" formControlName="country" required>
              <option value="" disabled selected>Select a country</option>
              <option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </option>
            </select>
            <!-- Error message for Country -->
            <div *ngIf="signUpForm.get('country')?.hasError('required') && signUpForm.get('country')?.touched" class="text-danger">
              Country is required.
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Security -->
      <fieldset class="border p-3 mb-3">
        <legend>Security</legend>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" required>
            <!-- Error message for Password -->
            <div *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched" class="text-danger">
              Password is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">PIN</label>
            <input type="text" class="form-control" formControlName="pin">
            <!-- Error message for PIN -->
            <div *ngIf="signUpForm.get('pin')?.hasError('invalidPin') && signUpForm.get('pin')?.touched" class="text-danger">
              The PIN must contain 6 digits.
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-100" [disabled]="signUpForm.invalid">Sign Up</button>

    </form>
  </div>
</div>
