<div class="dark-background">
  <div class="menu-icon" (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#f3952a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </div>

  <div class="hamburger-menu" [class.closed]="isMenuOpen">
    <div class="menu-spacer"></div>
    <div class="menu-items">
      <a class="menu-link" (click)="navigateToVideoList($event)">
        <i class="fas fa-home"></i> Videos
      </a>
      <a class="menu-link" (click)="navigateToListPlaylist($event)">
        <i class="fas fa-list"></i> Playlists
      </a>
    </div>

    <div class="menu-footer">
      <div class="menu-buttons">
        <button class="back-button" (click)="goBackToProfiles()" aria-label="Go back to profiles">
          <i class="fas fa-arrow-left"></i> Back
        </button>
        <button class="logout-button" (click)="logout($event)">
          <i class="fas fa-sign-out-alt"></i> Log out
        </button>
      </div>
    </div>
  </div>    
  <div class="container p-4 border rounded bg-light shadow-sm">

    <h2 class="mb-4">Playlist List</h2>
    <button class="btn btn-success mb-3" (click)="createNewPlaylist()">Create New Playlist</button>
    
    <div class="video-grid">
      <div *ngFor="let playlist of playlists" class="video-card">
        <img
          [src]="getPlaylistThumbnail(playlist.videos)"
          alt="Playlist Thumbnail"
          class="thumbnail"
          onerror="this.src='/assets/videos/default-thumbnail.jpg'"
        />
        <div class="video-details">
          <h3>{{ playlist.name }}</h3>
          <p>{{ playlist.videos.length }} video(s)</p>
          <div class="action-buttons">
            
            <button class="edit-button" title="Edit" (click)="editPlaylist(playlist.id)">
              <i class="fas fa-pencil-alt"></i> Edit
            </button>
            <button class="delete-button" title="Delete" (click)="deletePlaylist(playlist.id)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="playlists.length === 0" class="text-center mt-4">
      <p>No playlists found. Click "Create New Playlist" to add one.</p>
    </div>
  </div>


<div *ngIf="playlists.length === 0" class="text-center mt-4">
  <p>No playlists found. Click "Create New Playlist" to add one.</p>
</div>