<div class="dark-background">
  <div class="login-container" [@slideIn]>
    <h1 class="kidstube-title">KidsTube</h1>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          required
          placeholder="Email"
        />
        <div *ngIf="logInForm.get('email')?.hasError('required') && logInForm.get('email')?.touched" class="error">
          Email is required.
        </div>
        <div *ngIf="logInForm.get('email')?.hasError('email') && logInForm.get('email')?.touched" class="error">
          Please enter a valid email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          required
          placeholder="Password"
        />
        <div *ngIf="logInForm.get('password')?.hasError('required') && logInForm.get('password')?.touched" class="error">
          Password is required.
        </div>
      </div>
      <button type="submit" class="submit-button" [disabled]="logInForm.invalid">Log In</button>
    </form>

    <!-- Google Sign-In Button -->
    <div class="row mt-2 justify-content-center">
      <a
        (click)="signInWithGoogle()"
        style="text-decoration: none; cursor: pointer"
      >
        <div class="card shadow text-center">
          <div class="card-body">
            <img
              src="../../../../assets/images/logos/logo-google.png"
              alt="Google Logo"
              height="24px"
              width="24px"
            />
          </div>
        </div>
      </a>
    </div>

    <p class="signup-link">New to KidsTube? <button (click)="goToSignUp()" class="btn btn-link">Sign up now</button></p>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</div>

