<div class="hamburger-menu" [class.closed]="isMenuClosed">
    <!-- Ícono del menú -->
    <div class="menu-icon">
      ☰ <!-- Ícono de hamburguesa -->
    </div>
  
    <!-- Contenido del menú -->
    <div class="menu-items">
      <a class="menu-link" (click)="navigateToVideoList($event)">
        <i class="fas fa-home"></i> Videos
      </a>
      <a class="menu-link" (click)="navigateToListPlaylist($event)">
        <i class="fas fa-list"></i> Playlists
      </a>
    </div>
  
    <!-- Opción de cerrar sesión -->
    <div class="menu-footer">
      <a class="menu-link" (click)="logout($event)">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
      </a>
    </div>
  </div>