html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcfbfa; 
    color: rgb(17, 17, 17); 
}

.profiles-container {
    background-color: #fcfafa;
    color: #0c0c0c; 
    
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

.profiles {
    background-color: #fcfafa;
    
    display: flex;
    justify-content: center; 
    gap: 40px;
    margin-top: 20px;
    flex-wrap: nowrap; 
    overflow-x: auto;
}

.profile {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    flex: 0 1 150px; 
    padding: 20px;
    border-radius: 50%;
    background-color: #f7f3f3; 
    box-sizing: border-box;
}

.profile img {
    width: 200px;  /* Hace la imagen mucho más grande */
    height: 200px; /* Hace la imagen mucho más grande */
    border-radius: 50%; /* Redondea la imagen */
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Efecto de ampliación al pasar el cursor */
.profile img:hover {
    transform: scale(1.1); 
}

/* Estilo para el nombre del perfil */
.profile p {
    margin-top: 10px;
    font-size: 2rem;  
    color: #6b6b69; /* Color del nombre */
    font-weight: bold;
}



