<div class="home-container">
  <!-- Botón de Log In en la parte superior derecha -->
  <div class="top-right">
    <button (click)="goToLogin()" class="login-button">Log In</button>
    <img src="/assets/logo.png" alt="KidsTube Logo" class="logo">

  </div>

  <!-- Contenido principal con fondo animado -->
  <div class="hero-section">
    <h1 class="kidstube-title">KidsTube</h1>
    
    <p class="tagline">
      Enjoy videos <strong>safe, educational and super fun</strong>  
      for children of all ages
    </p>


    <!-- Enlace de Sign Up en el pie -->
    <p class="signup-link">New to KidsTube?
      <button (click)="goToSignUp()" class="btn btn-signup">Sign In</button>
    </p>
  </div>
</div>

