<div class="dark-background">
    <div class="container p-4 border rounded bg-light shadow-sm text-center">
  
      <!-- Title -->
      <h2 class="mb-4">Administration</h2>
  
      <!-- Buttons -->
      <div class="d-grid gap-3">
  
        <!-- List Playlists -->
        <a routerLink="/listPlaylist" class="btn btn-secondary">
          <i class="bi bi-list-ul"></i> List Playlists
        </a>

        <!-- create Video -->
        <a routerLink="/videoList" class="btn btn-secondary">
          <i class="bi bi-list-ul"></i> Video
        </a>
  
      </div>
  
    </div>
  </div>